
/* Menyembunyikan menu mobile secara default */


#mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #f3f4f6;
    /* Tailwind gray-100 */
    transition: left 0.3s ease;
    z-index: 50;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: 'consolas' , sans-serif;
}

/* Overlay background */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 49;
}

/* Show sidebar */
#mobile-menu.open {
    left: 0;
}

#overlay.show {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

}

/* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL */
.carousel-container {
    position: relative;
    width: 1065px;
    height: 350px;
    margin-top: 20px;
    object-fit: cover;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.arrow.left {
    left: -50px;
}

.arrow.right {
    right: -50px;
}


@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        /* 16:9 Aspect Ratio */
        position: relative;
    
    }

    .carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
        border-radius: 0px;
    }

    .arrow svg {
        width: 13px;
        height: 30px;
      }

    .arrow svg path {
        fill: white; /* Ganti warna ke putih untuk ukuran mobile */
      }


    .arrow.left {
        left: 20px;
        
    }

    .arrow.right {
        right: 20px;
    }

    .text-section {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .text-content h1 {
        font-size: 30px;
    }

    .text-content p {
        font-size: 18px;
    }

    .text-content button {
        font-size: 20px;
        padding: 10px 15px;
    }

    .image-section {
        display: none;
    }



    /* course */
    

}

/* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL *//* CAROUSEL */

.containers {
    width: 90%;
    max-width: 1105px;
    margin: 20px auto;
    padding: 20px;

}

.marquee-section {
    width: 100%;
    margin-bottom: 20px;
}

.marquee-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-bar span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text-section {
    display: flex;
    flex: 1;
    padding-top: 20px;
}

.text-content {
    flex: 1;
}

.text-content h1 {
    font-size: 50px;
    color: #4a4a4a;
    margin: 0;
    font-weight: bold;
}

.text-content p {
    font-size: 24px;
    color: #7a7a7a;
    margin: 10px 0;
}

.text-content button {
    background-color: #4F64A9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.image-section {
    margin-top: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 150px;
}

.image-section img {
    width: 412px;
    height: 412px;
    position: relative;
    top: 40px;
    left: 61px;
    border-radius: 50%;
}

.course-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.course-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    padding: 0;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    width: 450px;
    height: 65px;
    box-sizing: border-box;
}
.course-header p {
    margin: 0;
    padding-left: 20px;
    font-size: 24px;
    color: #666;
}
.separator {
    width: 100%;
    height: 27px;
    background-color: #ddd;
    margin: 20px 0;
}
.course-list {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}
.course-item {
    text-align: left;
    width: 23%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.course-item img {
    width: 100%;
    height: 381px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.course-item p {
    margin: 10px 0 0;
    font-size: 20px;
    color: #333;
}
@media (max-width: 768px) {

    .course-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .course-header p {
        margin: 10px 0 0 0;
        padding-left: 0;
        text-align: center;
    }
    .course-item {
        width: 48%;
    }


}
@media (max-width: 480px) {
    .course-header h1 {
        font-size: 24px;
        width: 100%;
        height: auto;
    }
    .course-header p {
        font-size: 18px;
        text-align: center;
    }
    .course-item {
        width: 100%;
    }
    .course-item img {
        height: auto;
    }
}



@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        /* 16:9 Aspect Ratio */
        position: relative;
        overflow-x: hidden;
    }

    .carousel {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
        border-radius: 0px;
    }

    .arrow svg {
        width: 13px;
        height: 30px;
      }

    .arrow svg path {
        fill: white; /* Ganti warna ke putih untuk ukuran mobile */
      }


    .arrow.left {
        left: 20px;
        
    }

    .arrow.right {
        right: 20px;
    }

    .text-section {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .text-content h1 {
        font-size: 30px;
    }

    .text-content p {
        font-size: 18px;
    }

    .text-content button {
        font-size: 20px;
        padding: 10px 15px;
    }

    .image-section {
        display: none;
    }



    /* course */
    

}

